GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# LinkedTrust API Configuration
NEXT_PUBLIC_LINKEDTRUST_API_URL=https://linkedtrust.us
NEXT_PUBLIC_LINKEDTRUST_URL=https://linkedtrust.us
